.swiper {
    width: 100%;
    padding-inline: 16px;
    padding-block: 1px;
    overflow: hidden;
    :global(.swiper-wrapper) {
        width: fit-content;
    }
    :global(.swiper-slide) {
        width: fit-content;
    }
}