<!DOCTYPE html>
<html>
<head>
    <title>Регистрация на платформе</title>
</head>
<body>
    <p>Здравствуйте, {{ fullname }}</p>
    <p>Ваша адаптация на платформе Proscom.Котики МИСИС вот-вот начнётся!</p>
    <p>Чтобы этот процесс прошёл легко и интересно, а мы точно знали, что вы усваиваете материал онбординга и выполняете задания и обучающие модули, мы создали для вас аккаунт в нашем внутреннем сервисе для адаптации. Логин - ваша почта. Ваш пароль: {{ password }}. Пожалуйста, не забудьте сохранить этот пароль в надежном месте.</p>
    <p>В сервисе обитает цифровой наставник «Борис». Вы можете задать ему любые вопросы о новой работе, на которые не смогли найти ответ! Также вы сможете быстро связаться с вашим руководителем и членами команды, зарегистрироваться на мероприятия, которые мы подберём специально для вас, мониторить свои задачки, проходить обучение и повышать свои навыки.</p>
    <p>Мы верим, что этот период пройдёт для вас полезно и интересно. Если у вас появятся какие-то вопросы или предложения по функционалу данного сервиса — обязательно напишите об этом нам! Удачи!</p>
    <p>С уважением, ваш корпоративный сервис!</p>
</body>
</html>






